h1 {
    text-align: center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-left: 800px;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin-left: 600px;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}
li.second, li.third {
    display: inline-block;
}
h3 {
    text-align: center;
}
.primeiro-lugar, .primeiro-segundo {
    display: inline;
}
.primeiro-lugar{
margin-left: 600px;
}