.cor-de-fundo {
    background-color: yellow;
    font-weight: bold;
}
.impar-cor {
text-transform: uppercase;
}
.par-maiusculo{
    color: green;
}
h1, h3 {
    color: red;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
}
.lista{
    font-size: 20px;
}